/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 7, preprocessor/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 11, preprocessor/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 15, preprocessor/main.scss */
body {
  margin: 0;
  overflow-x: hidden;
}

/* line 19, preprocessor/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 24, preprocessor/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 29, preprocessor/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 41, preprocessor/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 45, preprocessor/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 51, preprocessor/main.scss */
textarea {
  resize: vertical;
}

/* line 55, preprocessor/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 66, preprocessor/main.scss */
* {
  font-family: 'apercu';
  -webkit-font-smoothing: antialiased;
}

/* line 70, preprocessor/main.scss */
section {
  position: relative;
}

/* line 73, preprocessor/main.scss */
.noScroll {
  overflow-y: hidden;
}

/* line 76, preprocessor/main.scss */
.neutralTransform {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 83, preprocessor/main.scss */
.menuHover {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* line 90, preprocessor/main.scss */
.sideMenuActive {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

/* line 145, preprocessor/main.scss */
.fixedNav {
  -webkit-transform: translateZ(0);
  position: fixed;
  width: 100%;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

/* line 159, preprocessor/main.scss */
.fixedNav.menuActive .site-title {
  opacity: 0;
}

/* line 163, preprocessor/main.scss */
.fixedNav > * {
  display: inline-block;
}

/* line 166, preprocessor/main.scss */
#menu-button {
  position: relative;
  left: 30px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  transition: width .2s;
}
/* line 174, preprocessor/main.scss */
#menu-button::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 188, preprocessor/main.scss */
#menu-button::before {
  position: absolute;
  content: 'close';
  top: 2px;
  left: 10px;
  font-size: 11px;
  vertical-align: middle;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: -webkit-transform .2s, opacity .2s;
  -moz-transition: -moz-transform .2s, opacity .2s;
  -o-transition: -o-transform .2s, opacity .2s;
  -ms-transition: -ms-transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
}

/* line 208, preprocessor/main.scss */
#menu-button:hover {
  width: 20px;
}

/* line 211, preprocessor/main.scss */
#menu-button:hover .menu-line::before {
  width: 100%;
}

/* line 214, preprocessor/main.scss */
.menu-line {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 100%;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 228, preprocessor/main.scss */
.menu-line::before {
  position: absolute;
  content: "";
  top: -6px;
  width: 80%;
  height: 2px;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 241, preprocessor/main.scss */
.menu-line::after {
  position: absolute;
  content: "";
  top: 6px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}

/* line 256, preprocessor/main.scss */
.fixedNav.menuActive #menu-button::after {
  width: 2px;
}
/* line 259, preprocessor/main.scss */
.fixedNav.menuActive #menu-button::before {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* line 268, preprocessor/main.scss */
.fixedNav.menuActive .menu-line {
  width: 0;
  opacity: 0;
  background-color: #000000;
}
/* line 273, preprocessor/main.scss */
.fixedNav.menuActive .menu-line::after {
  width: 0;
  opacity: 0;
  background-color: #000000;
}
/* line 278, preprocessor/main.scss */
.fixedNav.menuActive .menu-line::before {
  width: 0;
  opacity: 0;
  background-color: #000000;
}

/* line 285, preprocessor/main.scss */
.site-title {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 1;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 298, preprocessor/main.scss */
.fixedNav.onDark .menu-line {
  background-color: #ffffff;
}
/* line 301, preprocessor/main.scss */
.fixedNav.onDark .menu-line::before {
  background-color: #ffffff;
}
/* line 304, preprocessor/main.scss */
.fixedNav.onDark .menu-line::after {
  background-color: #ffffff;
}

/* line 308, preprocessor/main.scss */
.fixedNav.onDark .site-title {
  color: #ffffff;
}

/* line 311, preprocessor/main.scss */
#side-nav {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: left .2s;
  -moz-transition: left .2s;
  -o-transition: left .2s;
  -ms-transition: left .2s;
  transition: left .2s;
  -webkit-transform: translateZ(0);
  z-index: 50;
}

/* line 328, preprocessor/main.scss */
#side-nav > div {
  float: left;
}

/* line 331, preprocessor/main.scss */
#main-side {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #F7F7F7;
}

/* line 337, preprocessor/main.scss */
#project-side {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
}

/* line 349, preprocessor/main.scss */
#side-nav.menu-clicked {
  left: 0;
}

/* line 352, preprocessor/main.scss */
#side-nav.projectMenu {
  width: 100%;
}

/* line 355, preprocessor/main.scss */
#side-nav.projectMenu #project-side {
  opacity: 1;
}

/* line 358, preprocessor/main.scss */
#side-nav.projectMenu #main-side {
  width: 50%;
}

/* line 361, preprocessor/main.scss */
#main-side ul {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 10px 0 30px;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 370, preprocessor/main.scss */
#side-nav li {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
/* line 375, preprocessor/main.scss */
#side-nav li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 60%;
  width: 0;
  height: 1px;
  background-color: #000000;
  z-index: 2;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 392, preprocessor/main.scss */
#side-nav li.active:before {
  width: 120px;
}

/* line 396, preprocessor/main.scss */
#side-nav.menu-clicked {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* line 403, preprocessor/main.scss */
#view-all-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -o-transition: all ease .4s;
  -ms-transition: all ease .4s;
  transition: all ease .4s;
  -webkit-backface-visibility: hidden;
}
/* line 418, preprocessor/main.scss */
#view-all-btn:before, #view-all-btn:after {
  content: '';
  position: absolute;
  background-color: #000000;
}
/* line 423, preprocessor/main.scss */
#view-all-btn:before {
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 99%;
}
/* line 429, preprocessor/main.scss */
#view-all-btn:after {
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 99%;
}
/* line 435, preprocessor/main.scss */
#view-all-btn.close {
  transform: rotate(-135deg);
}

/* line 439, preprocessor/main.scss */
#project-side ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* line 446, preprocessor/main.scss */
#project-side li {
  width: 100%;
  min-height: 100px;
  height: 100px;
  padding: 50px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #222222;
  -webkit-transition: -webkit-transform ease .1s, opacity .1s;
  -moz-transition: -moz-transform ease .1s, opacity .1s;
  -o-transition: -o-transform ease .1s, opacity .1s;
  -ms-transition: -ms-transform ease .1s, opacity .1s;
  transition: transform ease .1s, opacity .1s;
}

/* line 462, preprocessor/main.scss */
.projLi {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

/* line 465, preprocessor/main.scss */
.projLink h1 {
  position: relative;
  top: 50%;
  margin: 0;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  -webkit-transform: translate(-20px, -50%);
  -ms-transform: translate(-20px, -50%);
  transform: translate(-20px, -50%);
  opacity: 0;
  -webkit-transition: all .2s .25s;
  -moz-transition: all .2s .25s;
  -o-transition: all .2s .25s;
  -ms-transition: all .2s .25s;
  transition: all .2s .25s;
}

/* line 482, preprocessor/main.scss */
#side-nav.projectMenu h1 {
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  opacity: 1;
}

/* line 488, preprocessor/main.scss */
.number-wrap {
  font-size: 0.6em;
  vertical-align: 1.4em;
}

/* line 498, preprocessor/main.scss */
#wrap {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

/* line 508, preprocessor/main.scss */
#intro {
  height: 100vh;
  width: 100%;
}

/* line 512, preprocessor/main.scss */
#intro-text {
  position: relative;
  width: 50%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 520, preprocessor/main.scss */
#intro-text h1 {
  font-weight: 400;
  margin: 0;
}

/* line 524, preprocessor/main.scss */
#intro-arrow {
  position: absolute;
  width: 12px;
  height: 20px;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-image: url(../img/intro-down-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* line 539, preprocessor/main.scss */
.hp-work-item {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* line 547, preprocessor/main.scss */
.work-info {
  position: relative;
  width: 50%;
  height: 100%;
  left: 50%;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  -ms-transition: background-color .2s;
  transition: background-color .2s;
}

/* line 558, preprocessor/main.scss */
.work-text {
  position: relative;
  width: 61.4%;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 101, preprocessor/main.scss */
.work-text:before, .work-text:after {
  content: "";
  display: table;
}
/* line 105, preprocessor/main.scss */
.work-text:after {
  clear: both;
}

/* line 566, preprocessor/main.scss */
.worktext-appear-wrap {
  opacity: 0;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: opacity .5s .2s, -webkit-transform .6s .2s;
  -moz-transition: opacity .5s .2s, -moz-transform .6s .2s;
  -o-transition: opacity .5s .2s, -o-transform .6s .2s;
  -ms-transition: opacity .5s .2s, -ms-transform .6s .2s;
  transition: opacity .5s .2s, transform .6s .2s;
}

/* line 579, preprocessor/main.scss */
.worktext-appear-wrap * {
  margin: 0;
}

/* line 583, preprocessor/main.scss */
.work-text h2,
#project-hdr-text h2 {
  margin-bottom: 1rem;
  margin-top: 0;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 18px;
}

/* line 591, preprocessor/main.scss */
.work-text h1,
#project-hdr-text h1 {
  margin-bottom: 3rem;
  margin-top: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2em;
}

/* line 599, preprocessor/main.scss */
.work-text h3,
#project-hdr-text h3 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

/* line 605, preprocessor/main.scss */
.view-proj,
.close-proj {
  position: relative;
  display: block;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 617, preprocessor/main.scss */
.view-plus {
  position: absolute;
  float: left;
  width: 18px;
  height: 18px;
}
/* line 624, preprocessor/main.scss */
.view-plus:after, .view-plus:before {
  position: absolute;
  content: '';
  background-color: #000000;
}
/* line 629, preprocessor/main.scss */
.view-plus:after {
  top: 50%;
  left: 0px;
  width: 18px;
  height: 1px;
  margin-top: -1px;
}
/* line 636, preprocessor/main.scss */
.view-plus:before {
  top: 0;
  left: 50%;
  width: 1px;
  height: 17px;
}

/* line 644, preprocessor/main.scss */
.view-proj p,
.close-proj p {
  margin-left: 30px;
  margin-bottom: 20px;
}

/*#work-1 .work-info {
    background-color: #EAFFFF;
}
#work-2 .work-info {
    background-color: #DDEDFF;
}
#work-3*/
/* line 654, preprocessor/main.scss */
.work-info {
  background-color: #E7F1FF;
}

/* line 657, preprocessor/main.scss */
#work-1 {
  background-image: url(../img/work1.jpg);
}

/* line 660, preprocessor/main.scss */
#work-2 {
  background-image: url(../img/work2.jpg);
}

/* line 663, preprocessor/main.scss */
#work-3 {
  background-image: url(../img/work3.jpg);
}

/* line 668, preprocessor/main.scss */
.hp-work-item.active .worktext-appear-wrap {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1;
}

/* line 679, preprocessor/main.scss */
#contact {
  width: 100%;
  height: 100vh;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 688, preprocessor/main.scss */
#contact-wrap {
  width: 100%;
  height: 60%;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 699, preprocessor/main.scss */
#contact-left {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 706, preprocessor/main.scss */
#contact-right {
  -webkit-transition: all .2s .2s;
  -moz-transition: all .2s .2s;
  -o-transition: all .2s .2s;
  -ms-transition: all .2s .2s;
  transition: all .2s .2s;
}

/* line 714, preprocessor/main.scss */
#contact-left,
#contact-right {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 8%;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

/* line 729, preprocessor/main.scss */
#contact.active #contact-left,
#contact.active #contact-right {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 738, preprocessor/main.scss */
#contact h1 {
  position: relative;
  margin-top: 0;
  font-size: 60px;
  font-weight: 200;
}
/* line 744, preprocessor/main.scss */
#contact h1::before {
  position: absolute;
  content: '';
  bottom: -20px;
  width: 100px;
  height: 1px;
  margin-left: 0.1em;
  background-color: #000000;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 759, preprocessor/main.scss */
#contact h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 40px 0;
}

/* line 764, preprocessor/main.scss */
#contact h3 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 769, preprocessor/main.scss */
#contact ul {
  padding: 0;
  margin-top: 0;
  list-style: none;
}

/* line 774, preprocessor/main.scss */
#contact li {
  font-size: 18px;
  font-weight: 400;
}

/* line 778, preprocessor/main.scss */
#contact-right p {
  position: absolute;
  bottom: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 803, preprocessor/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 810, preprocessor/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 817, preprocessor/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 822, preprocessor/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 834, preprocessor/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 843, preprocessor/main.scss */
.invisible {
  visibility: hidden;
}

/* line 848, preprocessor/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 853, preprocessor/main.scss */
.clearfix:after {
  clear: both;
}

/* line 857, preprocessor/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 866, preprocessor/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 874, preprocessor/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 878, preprocessor/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 882, preprocessor/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 888, preprocessor/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 893, preprocessor/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 898, preprocessor/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 903, preprocessor/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 907, preprocessor/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 917, preprocessor/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 923, preprocessor/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
